<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>博客管理-首页</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../node_modules/nprogress/nprogress.css"/>
    <link rel="stylesheet" href="../../public/admin/css/admin.css"/>
</head>
<body>
<!--侧边栏-->
<aside class="ad_aside">
    <!--商标-->
    <div class="brand"><a href="index.html">博客管理</a></div>
    <!--用户-->
    <div class="user">
        <img src="../../public/admin/images/default.png" alt=""/>
        <span>托尼阿伦</span>
    </div>
    <!--菜单-->
    <div class="menu">
        <ul>
            <li><a href="blogEdit.html"><span class="glyphicon glyphicon-edit"></span> 文章添加</a></li>
            <li><a href="blogManage.html"><span class="glyphicon glyphicon-list"></span> 文章管理</a></li>
            <li><a href="settings.html"><span class="glyphicon glyphicon-tags"></span> 个人设置</a></li>
            <li><a href="repass.html"><span class="glyphicon glyphicon-eye-close"></span> 修改密码</a></li>
        </ul>
    </div>
</aside>
<!--内容-->
<section class="ad_section">
    <!--顶部导航-->
    <nav class="ad_nav">
        <a data-menu href="javascript:;"><span class="glyphicon glyphicon-align-justify"></span></a>
        <a data-logout href="javascript:;"><span class="glyphicon glyphicon-log-out"></span></a>
    </nav>
    <div class="container-fluid">
        <!--路径导航-->
        <ol class="breadcrumb">
            <li><a href="#">博客管理</a></li>
            <li class="active">首页</li>
        </ol>
        <div class="ad_content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm">
                            <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm">搜索</button>
                                </span>
                        </div>
                    </form>
                </div>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td width="60" align="center">1</td>
                        <td align="left">
                            <a class="title" href="javascript:;">JS the Hardcore: 执行上下文(Execution Context)</a>
                        </td>
                        <td width="120" align="center">
                            <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
                            <a href="javascript:;" class="btn btn-warning btn-xs">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" align="center">2</td>
                        <td align="left">
                            <a class="title" href="javascript:;">中国第三届CSS开发者大会即将召开</a>
                        </td>
                        <td width="120" align="center">
                            <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
                            <a href="javascript:;" class="btn btn-warning btn-xs">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" align="center">3</td>
                        <td align="left">
                            <a class="title" href="javascript:;">weui.js发布</a>
                        </td>
                        <td width="120" align="center">
                            <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
                            <a href="javascript:;" class="btn btn-warning btn-xs">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="60" align="center">4</td>
                        <td align="left">
                            <a class="title" href="javascript:;">中国第三届CSS开发者大会即将召开</a>
                        </td>
                        <td width="120" align="center">
                            <a href="javascript:;" class="btn btn-info btn-xs">编辑</a>
                            <a href="javascript:;" class="btn btn-warning btn-xs">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/nprogress/nprogress.js"></script>
<script src="../../public/admin/js/admin.js"></script>
</body>
</html>