{{extend './layout/layout.html'}}
{{block 'bread'}}
<ol class="breadcrumb">
    <li><a href="/admin">博客管理</a></li>
    <li class="active" data-now-value="blogEdit">文章{{posts.id?'编辑':'添加'}}</li>
</ol>
{{/block}}
{{block 'content'}}
<form class="form-horizontal" autocomplete="off">
    {{if posts.id}}<input type="hidden" id="id" value="{{posts.id}}">{{/if}}
    <div class="form-group">
        <label for="title" class="col-xs-2 control-label">标题</label>
        <div class="col-xs-8">
            <input name="title" value="{{posts.title}}" id="title" type="text" class="form-control input-sm">
        </div>
    </div>
    <div class="form-group">
        <label for="brief" class="col-xs-2 control-label">摘要</label>
        <div class="col-xs-8 ckeditor">
            <textarea name="brief" id="brief" rows="5" class="form-control input-sm">{{posts.brief}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-xs-2 control-label">内容</label>
        <div class="col-xs-8">
            <textarea id="content" name="content" class="form-control input-sm">{{posts.content}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
            <a href="javascript:;" class="btn btn-success btn-sm pull-right">保 存</a>
        </div>
    </div>
</form>
{{/block}}
{{block 'script'}}
<script src="/node_modules/ckeditor/ckeditor.js"></script>
<script>
    var ckeditor = CKEDITOR.replace('content', {
        toolbarGroups: [
            {name: 'clipboard', groups: ['clipboard', 'undo']},
            {name: 'forms'},
            {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
            {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi']},
            {name: 'styles'},
            {name: 'colors'}
        ]
    });
    ckeditor.setData($('#content').val());
    $('.btn-success').on('click', function (e) {
        $.ajax({
            type: 'post',
            url: $('#id').length ? '/admin/blog/edit' : '/admin/blog/push',
            data: {
                id: $('#id').val(),
                title: $('#title').val(),
                brief: $('#brief').val(),
                content: ckeditor.getData()
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    location.href = '/admin/blog/list';
                } else {
                    alert(data.msg);
                }
            }
        });
    })
</script>
{{/block}}