{{extend './layout/layout.html'}}
{{block 'bread'}}
<ol class="breadcrumb">
    <li><a href="/admin">博客管理</a></li>
    <li class="active" data-now-value="blogManage">文章管理</li>
</ol>
{{/block}}
{{block 'content'}}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="input-group col-md-2">
            <input value="{{title}}" id="title" type="text" class="form-control input-sm" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-success btn-sm">搜索</button>
            </span>
        </div>
    </div>
    <table class="table table-hover">
        <tbody>
        {{if rows.length}}
        {{each rows}}
        <tr>
            <td width="60" align="center">{{$index+1}}</td>
            <td align="left">
                <a class="title" href="javascript:;">{{$value.title}}</a>
            </td>
            <td width="120" align="center">
                <a href="/admin/blog/edit/{{$value.id}}" class="btn btn-info btn-xs">编辑</a>
                <a href="/admin/blog/del/{{$value.id}}" class="btn btn-warning btn-xs">删除</a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3">文章，去<a href="/admin/blog/push"> 发一个 </a>试试！！！</td>
        </tr>
        {{/if}}
        </tbody>
    </table>
</div>
{{/block}}
{{block 'script'}}
<script>
    $('.btn-success').on('click', function (e) {
        var title = $.trim($('#title').val());
        location.href = '/admin/blog/list' + (title && ('?title=' + title));
    })
</script>
{{/block}}