{{extend './layout/layout.html'}}
{{block 'bread'}}
<ol class="breadcrumb">
    <li><a href="/admin">博客管理</a></li>
    <li class="active" data-now-value="blogRepass">修改密码</li>
</ol>
{{/block}}
{{block 'content'}}
<form class="form-horizontal col-xs-offset-2" autocomplete="off">
    <div class="form-group">
        <label for="oldPass" class="col-xs-3 control-label">原密码</label>
        <div class="col-xs-4">
            <input id="oldPass" name="oldPass" type="password" class="form-control input-sm">
        </div>
    </div>
    <div class="form-group">
        <label for="pass" class="col-xs-3 control-label">新密码</label>
        <div class="col-xs-4">
            <input id="pass" name="pass" type="password" class="form-control input-sm">
        </div>
    </div>
    <div class="form-group">
        <label for="repass" class="col-xs-3 control-label">确认密码</label>
        <div class="col-xs-4">
            <input id="repass" name="repass" type="password" class="form-control input-sm">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-7">
            <input type="submit" class="btn btn-success btn-sm pull-right" value=" 修 改 ">
        </div>
    </div>
</form>
{{/block}}
{{block 'script'}}
<script>
    $('form').on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: '/admin/repass',
            data: $('form').serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    alert('修改成功，请重新登录。');
                    location.href = '/login';
                } else {
                    alert(data.msg);
                }
            }
        });
    })
</script>
{{/block}}